
.display{
  border: solid;
 font-size: 20px;
 border-bottom: 50%;
 position: absolute;
 height: 2000px;
 width: 630px;
}
.display2{
position: absolute;
border: solid;
height: 2000px;
width: 633px;
right: 0;
border-left: none;
font-size: 20px;
}
